* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: 'Roboto', sans-serif;
}

.container-fluid {
  --bs-gutter-x: 80px;
}

.swiper-button-next,
.swiper-button-prev {
  -webkit-box-pack: center !important;
  -webkit-box-align: center !important;
  appearance: none !important;
  display: inline-flex !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  outline: none !important;
  margin: 0px !important;
  padding: 0px !important;
  color: rgba(34, 34, 34, 0) !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  cursor: pointer !important;
  touch-action: manipulation !important;
  align-items: center !important;
  justify-content: center !important;
  background-clip: padding-box !important;
  box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.18) 0px 2px 4px !important;
  transition: -ms-transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s, transform 0.25s ease 0s !important;
  width: 32px !important;
  height: 32px !important;
  /* transform: scale(0.5); */
  font-weight: 900;
  transform: translateY(-15px);
}

.swiper-button-prev {
  background-image: url("https://cdn.icon-icons.com/icons2/1369/PNG/512/-navigate-before_90417.png") !important;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-button-next {
  background-image: url("https://cdn.icon-icons.com/icons2/1369/PNG/512/-navigate-next_90472.png") !important;
  background-position: center center;
  background-size: contain;
}

p.foot {
  font-size: 12px;
}

.copy {
  display: flex;
  justify-content: space-evenly;
}